body{
	font-family: "Roboto",sans-serif;
	padding: 0;
	margin: 0;
}
/* PARENT */

div.container{
	display: flex;
	border: solid black 1px;
	height: 100vh;
}
/* LEFT */
div.dashboard{
	color: white;
	background-color: #1992D4;
	flex: 2 1 auto;
	flex-shrink: 2;
	flex-basis: auto;
	max-width: 400px;
}
/* RIGHT */
div.main{
	background-color: #E2E8F0;
	flex: 2 1 0;
	flex-basis: auto;
	display: flex;
	flex-direction: column;
}

div.main-head{
	background-color: white;
	flex: 1 2 0;
	min-height: 0px;
	max-height: 250px;
}

div.main-content{
	background-color: #E2E8F0;
	flex: 2 1 0;
	min-height: 500px;
}
div.dashboard h1{
	font-size: 2.2em;
	margin: 0 0 0 20px;
}

.dashboard h1 svg{
	height: 2em;
  fill: white;
	position: relative;
	top: 0.5em;
	margin-right: 0.5em;
}

div.dashboard-navigation ul{
	list-style-type: none;
	font-size: 1.7rem;
	font-weight: 700;
	margin-top: 4rem;
	line-height: 2em;
}

.dashboard-navigation ul li svg {
	margin-right: 20px;
	height: 1em;
	fill: white;
}

.dashboard-navigation ul li:nth-child(7){
	margin-top: 3em;
}